.register{
    width: 30%;
    height: 530px;
    margin-top: 30px !important;
    margin: auto;
    background-color: rgb(212, 243, 243);
    display: block;
    /* justify-content: center; */
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: black;
    
}
.btn{
    background-color: red;
    color: white;
    width: 320px;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 13px;
}
input{
    /* margin-top: 2px; */
    width: 320px;
    border-radius: 2px;
    border: none;

    height: 30px;
}
label{
    padding-right: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 14px;
    font-weight: 15px !important;
}
h1{
    color: gold !important;
    font-family: 'Teko', sans-serif !important;
    font-size: 40px !important;
    margin-top: 20px !important;
    margin: auto !important;
    text-align: center;
}
.h{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 23px !important;
    font-weight: 15px !important;
    padding-right: 250px!important;
    padding-bottom: 20px;
    color: black !important;
    margin-bottom: 5px;
}

.msgs{
    width: 30%;
    height: 20px;
    margin: auto; 
}